<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MQTT App</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <input type="text" id="uid" placeholder="UID">
    <button onclick="getData()">Получить</button>
    <button>Отправить</button>
    <div id="text"></div>
    <canvas id="rwChart" width="400" height="200"></canvas>
    <script src="/static/script.js"></script>
</body>
</html>
